.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  --boldyellow: rgb(245, 204, 25);
  --backgroundhead: black;
  --colortext: white;
  --buttonhover: yellow;
  --backgroundbody: rgb(24, 24, 24);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header {
  background-color: var(--backgroundhead);
  color: var(--colortext);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 35px;
  width: 100%;
}

.header-link-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: var(--colortext);
  font-size: 25px;
  margin-right: 20px;
}

.logotext {
  font-size: 50px;
  cursor: pointer;
  user-select: none;
  width: 200px;
}

.header-icon {
  font-size: 20px;
  margin-right: 15px;
  cursor: pointer;
}

label {
  color: var(--colortext);
}

input {
  border-radius: 6px;
  border: none;
  outline: 1px solid lightgray;
  height: 30px;
  width: 200px;
}

input:hover {
  filter: drop-shadow(1px 1px 1px var(--boldyellow));
}

input:focus {
  filter: drop-shadow(1px 1px 1px var(--boldyellow));
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  align-items: center;
}
.button-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
.button-back {
  width: 150px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  background-color: var(--boldyellow);
  border: none;
  display: block;
  margin-top: 100px;
  margin: auto;
}

.button-back:hover {
  background-color: var(--buttonhover);
  color: black;
}

.button-signup {
  width: 200px;
  padding: 5px 10px;
  margin: auto;
  margin-top: 20px;
  border-radius: 20px;
  background-color: var(--boldyellow);
  border: none;
  display: block;
}

.button-signup:hover {
  background-color: var(--buttonhover);
}

.custom-input {
  padding-bottom: 2%;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.custom-input-error label {
  color: red;
}

.custom-input-error input {
  border: 2px solid red;
  border-radius: 4px;
}

.error {
  color: red;
  margin: 0;
}

.formsignup {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.group-input-signup {
  width: 350px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .group-input-signup input:focus {
  filter: drop-shadow(1px 1px 1px var(--boldyellow));
}
.group-input-signup input:hover {
  filter: drop-shadow(1px 1px 1px var(--boldyellow));
} */
.formlogin {
  flex: 1;
  max-width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.login label {
  color: var(--colortext);
}

.button-login {
  width: 100px;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--boldyellow);
  border: none;
  display: block;
}

/* rgb(221, 221, 72); */
/* rgb(245, 204, 25); */
.button-login:hover {
  background-color: var(--buttonhover);
}

.login-body {
  /* background-image: url('https://res.cloudinary.com/dhva3lwfk/image/upload/v1686124303/cld-sample-3.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  overflow: hidden;
}

.signup-body {
  background-image: url('https://res.cloudinary.com/dhva3lwfk/image/upload/v1686124303/cld-sample-3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addnewpost-body {
  width: 100%;
  background-color: var(--backgroundbody);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.addnewpost-body h2 {
  color: white;
}

.addnewpost-body-form {
  width: 400px;
  margin-top: 40px;
}

.addnewpost-body-form h6 {
  color: white;
  font-size: 18px;
  margin-top: 20px;
}

.addnewpost-body-form input,
.addnewpost-body-form textarea {
  width: 100%;
  margin-top: 10px;
}

.home-body {
  background-color: var(--backgroundbody);
  height: 100vh;
  color: white;
  flex-direction: column;
  padding: 50px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.home-body-item {
  width: 50%;
  margin: auto;
  border: 1px solid gray;
  /* border-radius: 10px; */
  padding: 30px 40px;
  margin-top: 40px;
}
.reaction-wrap{
  user-select: none;
  margin-top: 20px;
}
.reaction{
  margin-right: 10px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.reaction:hover{
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}